@import url("https://use.typekit.net/jmk3xov.css");

  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }


  :root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 0px;

    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-width: 400px;
  }

  h1, h2, h3 {
    font-family: system-ui;
    font-weight: 700;
    font-style: normal;
  }

  p {
    font-family: system-ui;
    font-weight: 500;
    font-style: normal;
  }


  header {
    background: var(--dark-bg);
    grid-column: 9 / span 12;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 9 / span 12;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  /* blockquote {
    margin: 0;
    padding: 0;
    grid-column: 9 / span 12;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  } */

  .left {
    grid-column: 6 / 12;
  }

  .spacer {
    aspect-ratio: 900/300;
    width: 100%;
    grid-column: 9 / span 12;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('./images/layer1.svg');
  }

  .layer2 {
    background-image: url('./images/layer2.svg');
  }

  .layer3 {
    background-image: url('./images/layer3.svg');
  }

  .layer4 {
    background-image: url('./images/layer4.svg');
  }

  .layer5 {
    background-image: url('./images/layer5.svg');
  }

  .layer6 {
    background-image: url('./images/layer6.svg');
  }

  .blue {
    background: #020113;
  }

  .red {
    background: #FF5C39;
  }

  .light-blue-gradient {
    background-image:
    linear-gradient(
      #76C9FF,  
      #4FACF7
      ); 
    color: #020113;
  }

  .blue-gradient {
    background-image: 
      linear-gradient(
        180deg,
        #020113,
        #161C2B,
        #4FACF7,
        #76C9FF
      );
  }

  .orange-gradient {
    background-image: 
      linear-gradient(
        #FF5C39,
        #FFE84D 
      );
    color: #020113;
  }

  .green-gradient {
    background-image: 
      linear-gradient(
      #4FACF7,
      #A1E37C
      );
      color: #020113
  }

  .green-gradient2 {
    background-image: 
      linear-gradient(
      #A1E37C,
      #020113
      );
  }

  .violet-gradient {
    background-image: 
      linear-gradient(
        #76C9FF,
        #4FACF7,
        #9167E5,
        #A85ADA
     );
     color:#020113
  }

  .linkedin-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    right: 5px;
  }

  .at-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    right: 5px; 
  }

  .phone-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    right: 5px;
  }
